@charset "UTF-8";
:root {
  --textColor: #414042;
  --cFD7446: #FD7446;
}

* {
  padding: 0;
  margin: 0;
}

body,
html {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #f0f2f5;
}

a {
  text-decoration: none;
}

a[href^="#"] {
  color: var(--textColor);
}

/* 整个滚动条 */
.mce-content-body::-webkit-scrollbar {
  width: 6px;
  /* 水平滚动条的高度、垂直滚动条的宽度 */
  height: 12px;
  /* 水平滚动条的高度 */
  border-radius: 5px;
}

/* 滚动条轨道 */
.mce-content-body::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* 轨道颜色 */
}

/* 滚动条滑块 */
.mce-content-body::-webkit-scrollbar-thumb {
  background: #E1E2E6;
  /* 滑块颜色 */
  border-radius: 5px;
}

/* 滚动条滑块hover效果 */
.mce-content-body::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* 滑块hover颜色 */
}

ul,
li,
ol {
  list-style: none;
}

.container {
  margin: 0 auto;
  height: 100%;
}

.pdf-container {
  overflow: hidden;
  position: relative;
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 595px;
  min-height: 842px;
  font-family: SourceHanSansSC, SourceHanSansSC;
  background-color: #fff;
  box-sizing: border-box;
}
.pdf-container .e-make {
  height: 18px;
  font-size: 12px;
  color: #808385;
}

.flex-ai {
  display: flex;
  align-items: center;
}

.flex-c {
  justify-content: center;
}

.ai {
  align-items: center;
}

.flex-bw {
  display: flex;
  justify-content: space-between;
}

.bw {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.hide-class {
  display: none;
  
}

.s-make,
.e-make {
  position: absolute;
  left: 0;
  opacity: 1;
}

.chapter-flag {
  position: absolute;
  top: 0;
  right: 0;
}

.s-make {
  top: 0;
}

.e-make {
  bottom: 0;
}

.corner-mark {
  position: absolute;
  right: 66px;
  bottom: 44px;
  font-size: 16px;
  color: var(--cFD7446);
  line-height: 24px;
}

.tac {
  text-align: center;
}

.tdu {
  text-decoration: underline;
}

.hr {
  height: 0;
  border-bottom: 1px solid #B2B4B5;
  background-color: transparent;
  box-sizing: border-box;
}

.text-content {
  text-indent: 2em;
}

.cFD7446 {
  color: var(--cFD7446);
}

.mb-1 {
  margin-bottom: 1px;
}

.ml-1 {
  margin-left: 1px;
}

.mt-1 {
  margin-top: 1px;
}

.mr-1 {
  margin-right: 1px;
}

.mb-2 {
  margin-bottom: 2px;
}

.ml-2 {
  margin-left: 2px;
}

.mt-2 {
  margin-top: 2px;
}

.mr-2 {
  margin-right: 2px;
}

.mb-3 {
  margin-bottom: 3px;
}

.ml-3 {
  margin-left: 3px;
}

.mt-3 {
  margin-top: 3px;
}

.mr-3 {
  margin-right: 3px;
}

.mb-4 {
  margin-bottom: 4px;
}

.ml-4 {
  margin-left: 4px;
}

.mt-4 {
  margin-top: 4px;
}

.mr-4 {
  margin-right: 4px;
}

.mb-5 {
  margin-bottom: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mb-6 {
  margin-bottom: 6px;
}

.ml-6 {
  margin-left: 6px;
}

.mt-6 {
  margin-top: 6px;
}

.mr-6 {
  margin-right: 6px;
}

.mb-7 {
  margin-bottom: 7px;
}

.ml-7 {
  margin-left: 7px;
}

.mt-7 {
  margin-top: 7px;
}

.mr-7 {
  margin-right: 7px;
}

.mb-8 {
  margin-bottom: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.mb-9 {
  margin-bottom: 9px;
}

.ml-9 {
  margin-left: 9px;
}

.mt-9 {
  margin-top: 9px;
}

.mr-9 {
  margin-right: 9px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-11 {
  margin-bottom: 11px;
}

.ml-11 {
  margin-left: 11px;
}

.mt-11 {
  margin-top: 11px;
}

.mr-11 {
  margin-right: 11px;
}

.mb-12 {
  margin-bottom: 12px;
}

.ml-12 {
  margin-left: 12px;
}

.mt-12 {
  margin-top: 12px;
}

.mr-12 {
  margin-right: 12px;
}

.mb-13 {
  margin-bottom: 13px;
}

.ml-13 {
  margin-left: 13px;
}

.mt-13 {
  margin-top: 13px;
}

.mr-13 {
  margin-right: 13px;
}

.mb-14 {
  margin-bottom: 14px;
}

.ml-14 {
  margin-left: 14px;
}

.mt-14 {
  margin-top: 14px;
}

.mr-14 {
  margin-right: 14px;
}

.mb-15 {
  margin-bottom: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.mb-16 {
  margin-bottom: 16px;
}

.ml-16 {
  margin-left: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.mb-17 {
  margin-bottom: 17px;
}

.ml-17 {
  margin-left: 17px;
}

.mt-17 {
  margin-top: 17px;
}

.mr-17 {
  margin-right: 17px;
}

.mb-18 {
  margin-bottom: 18px;
}

.ml-18 {
  margin-left: 18px;
}

.mt-18 {
  margin-top: 18px;
}

.mr-18 {
  margin-right: 18px;
}

.mb-19 {
  margin-bottom: 19px;
}

.ml-19 {
  margin-left: 19px;
}

.mt-19 {
  margin-top: 19px;
}

.mr-19 {
  margin-right: 19px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-21 {
  margin-bottom: 21px;
}

.ml-21 {
  margin-left: 21px;
}

.mt-21 {
  margin-top: 21px;
}

.mr-21 {
  margin-right: 21px;
}

.mb-22 {
  margin-bottom: 22px;
}

.ml-22 {
  margin-left: 22px;
}

.mt-22 {
  margin-top: 22px;
}

.mr-22 {
  margin-right: 22px;
}

.mb-23 {
  margin-bottom: 23px;
}

.ml-23 {
  margin-left: 23px;
}

.mt-23 {
  margin-top: 23px;
}

.mr-23 {
  margin-right: 23px;
}

.mb-24 {
  margin-bottom: 24px;
}

.ml-24 {
  margin-left: 24px;
}

.mt-24 {
  margin-top: 24px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-25 {
  margin-bottom: 25px;
}

.ml-25 {
  margin-left: 25px;
}

.mt-25 {
  margin-top: 25px;
}

.mr-25 {
  margin-right: 25px;
}

.mb-26 {
  margin-bottom: 26px;
}

.ml-26 {
  margin-left: 26px;
}

.mt-26 {
  margin-top: 26px;
}

.mr-26 {
  margin-right: 26px;
}

.mb-27 {
  margin-bottom: 27px;
}

.ml-27 {
  margin-left: 27px;
}

.mt-27 {
  margin-top: 27px;
}

.mr-27 {
  margin-right: 27px;
}

.mb-28 {
  margin-bottom: 28px;
}

.ml-28 {
  margin-left: 28px;
}

.mt-28 {
  margin-top: 28px;
}

.mr-28 {
  margin-right: 28px;
}

.mb-29 {
  margin-bottom: 29px;
}

.ml-29 {
  margin-left: 29px;
}

.mt-29 {
  margin-top: 29px;
}

.mr-29 {
  margin-right: 29px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-31 {
  margin-bottom: 31px;
}

.ml-31 {
  margin-left: 31px;
}

.mt-31 {
  margin-top: 31px;
}

.mr-31 {
  margin-right: 31px;
}

.mb-32 {
  margin-bottom: 32px;
}

.ml-32 {
  margin-left: 32px;
}

.mt-32 {
  margin-top: 32px;
}

.mr-32 {
  margin-right: 32px;
}

.mb-33 {
  margin-bottom: 33px;
}

.ml-33 {
  margin-left: 33px;
}

.mt-33 {
  margin-top: 33px;
}

.mr-33 {
  margin-right: 33px;
}

.mb-34 {
  margin-bottom: 34px;
}

.ml-34 {
  margin-left: 34px;
}

.mt-34 {
  margin-top: 34px;
}

.mr-34 {
  margin-right: 34px;
}

.mb-35 {
  margin-bottom: 35px;
}

.ml-35 {
  margin-left: 35px;
}

.mt-35 {
  margin-top: 35px;
}

.mr-35 {
  margin-right: 35px;
}

.mb-36 {
  margin-bottom: 36px;
}

.ml-36 {
  margin-left: 36px;
}

.mt-36 {
  margin-top: 36px;
}

.mr-36 {
  margin-right: 36px;
}

.mb-37 {
  margin-bottom: 37px;
}

.ml-37 {
  margin-left: 37px;
}

.mt-37 {
  margin-top: 37px;
}

.mr-37 {
  margin-right: 37px;
}

.mb-38 {
  margin-bottom: 38px;
}

.ml-38 {
  margin-left: 38px;
}

.mt-38 {
  margin-top: 38px;
}

.mr-38 {
  margin-right: 38px;
}

.mb-39 {
  margin-bottom: 39px;
}

.ml-39 {
  margin-left: 39px;
}

.mt-39 {
  margin-top: 39px;
}

.mr-39 {
  margin-right: 39px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.mb-41 {
  margin-bottom: 41px;
}

.ml-41 {
  margin-left: 41px;
}

.mt-41 {
  margin-top: 41px;
}

.mr-41 {
  margin-right: 41px;
}

.mb-42 {
  margin-bottom: 42px;
}

.ml-42 {
  margin-left: 42px;
}

.mt-42 {
  margin-top: 42px;
}

.mr-42 {
  margin-right: 42px;
}

.mb-43 {
  margin-bottom: 43px;
}

.ml-43 {
  margin-left: 43px;
}

.mt-43 {
  margin-top: 43px;
}

.mr-43 {
  margin-right: 43px;
}

.mb-44 {
  margin-bottom: 44px;
}

.ml-44 {
  margin-left: 44px;
}

.mt-44 {
  margin-top: 44px;
}

.mr-44 {
  margin-right: 44px;
}

.mb-45 {
  margin-bottom: 45px;
}

.ml-45 {
  margin-left: 45px;
}

.mt-45 {
  margin-top: 45px;
}

.mr-45 {
  margin-right: 45px;
}

.mb-46 {
  margin-bottom: 46px;
}

.ml-46 {
  margin-left: 46px;
}

.mt-46 {
  margin-top: 46px;
}

.mr-46 {
  margin-right: 46px;
}

.mb-47 {
  margin-bottom: 47px;
}

.ml-47 {
  margin-left: 47px;
}

.mt-47 {
  margin-top: 47px;
}

.mr-47 {
  margin-right: 47px;
}

.mb-48 {
  margin-bottom: 48px;
}

.ml-48 {
  margin-left: 48px;
}

.mt-48 {
  margin-top: 48px;
}

.mr-48 {
  margin-right: 48px;
}

.mb-49 {
  margin-bottom: 49px;
}

.ml-49 {
  margin-left: 49px;
}

.mt-49 {
  margin-top: 49px;
}

.mr-49 {
  margin-right: 49px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ml-50 {
  margin-left: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.mb-51 {
  margin-bottom: 51px;
}

.ml-51 {
  margin-left: 51px;
}

.mt-51 {
  margin-top: 51px;
}

.mr-51 {
  margin-right: 51px;
}

.mb-52 {
  margin-bottom: 52px;
}

.ml-52 {
  margin-left: 52px;
}

.mt-52 {
  margin-top: 52px;
}

.mr-52 {
  margin-right: 52px;
}

.mb-53 {
  margin-bottom: 53px;
}

.ml-53 {
  margin-left: 53px;
}

.mt-53 {
  margin-top: 53px;
}

.mr-53 {
  margin-right: 53px;
}

.mb-54 {
  margin-bottom: 54px;
}

.ml-54 {
  margin-left: 54px;
}

.mt-54 {
  margin-top: 54px;
}

.mr-54 {
  margin-right: 54px;
}

.mb-55 {
  margin-bottom: 55px;
}

.ml-55 {
  margin-left: 55px;
}

.mt-55 {
  margin-top: 55px;
}

.mr-55 {
  margin-right: 55px;
}

.mb-56 {
  margin-bottom: 56px;
}

.ml-56 {
  margin-left: 56px;
}

.mt-56 {
  margin-top: 56px;
}

.mr-56 {
  margin-right: 56px;
}

.mb-57 {
  margin-bottom: 57px;
}

.ml-57 {
  margin-left: 57px;
}

.mt-57 {
  margin-top: 57px;
}

.mr-57 {
  margin-right: 57px;
}

.mb-58 {
  margin-bottom: 58px;
}

.ml-58 {
  margin-left: 58px;
}

.mt-58 {
  margin-top: 58px;
}

.mr-58 {
  margin-right: 58px;
}

.mb-59 {
  margin-bottom: 59px;
}

.ml-59 {
  margin-left: 59px;
}

.mt-59 {
  margin-top: 59px;
}

.mr-59 {
  margin-right: 59px;
}

.mb-60 {
  margin-bottom: 60px;
}

.ml-60 {
  margin-left: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.mr-60 {
  margin-right: 60px;
}

.mt-vh-144 {
  margin-top: 17.1021377672vh;
}

.mt-vh-96 {
  margin-top: 11.4014251781vh;
}

.weight-800 {
  font-weight: 800 !important;
}

/* 分页符 */
.print_gap {
  page-break-before: always;
}

.print_gap .gap_line {
  height: 1px;
  background: #e5e5e5;
  margin: 40pt 0 30pt;
}

@media print {
  @page {
    size: 595px 842px;
    /* 设置打印页面的边距为10毫米 */
  }
}
.rhombus {
  width: 7px;
  height: 7px;
  transform-origin: center center;
  transform: rotate(45deg) translateY(-1px);
  background-color: var(--cFD7446);
}

.serial {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background: #414042;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  line-height: 14px;
  color: #FFFFFF;
}

.table-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2px;
}
.table-container .th-2 {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(2, 1fr);
}
.table-container .th-2 .item {
  height: 20px;
  line-height: 20px;
  background: #6D6E71;
  font-size: 8px;
  color: #FFFFFF;
  text-align: center;
}
.table-container .th-2 .item.th-FD7446 {
  background-color: var(--cFD7446) !important;
  color: #fff !important;
}
.table-container .th-2 .item.th-first {
  background-color: var(--cFD7446);
}
.table-container .th-2.td-F7F8F9 .item {
  background-color: #F7F8F9;
  color: #414042;
}
.table-container .th-2.td-DCDDDE .item {
  background-color: #DCDDDE;
  color: #414042;
}
.table-container .th-3 {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(3, 1fr);
}
.table-container .th-3 .item {
  height: 20px;
  line-height: 20px;
  background: #6D6E71;
  font-size: 8px;
  color: #FFFFFF;
  text-align: center;
}
.table-container .th-3 .item.th-FD7446 {
  background-color: var(--cFD7446) !important;
  color: #fff !important;
}
.table-container .th-3 .item.th-first {
  background-color: var(--cFD7446);
}
.table-container .th-3.td-F7F8F9 .item {
  background-color: #F7F8F9;
  color: #414042;
}
.table-container .th-3.td-DCDDDE .item {
  background-color: #DCDDDE;
  color: #414042;
}
.table-container .th-4 {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(4, 1fr);
}
.table-container .th-4 .item {
  height: 20px;
  line-height: 20px;
  background: #6D6E71;
  font-size: 8px;
  color: #FFFFFF;
  text-align: center;
}
.table-container .th-4 .item.th-FD7446 {
  background-color: var(--cFD7446) !important;
  color: #fff !important;
}
.table-container .th-4 .item.th-first {
  background-color: var(--cFD7446);
}
.table-container .th-4.td-F7F8F9 .item {
  background-color: #F7F8F9;
  color: #414042;
}
.table-container .th-4.td-DCDDDE .item {
  background-color: #DCDDDE;
  color: #414042;
}
.table-container .th-5 {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(5, 1fr);
}
.table-container .th-5 .item {
  height: 20px;
  line-height: 20px;
  background: #6D6E71;
  font-size: 8px;
  color: #FFFFFF;
  text-align: center;
}
.table-container .th-5 .item.th-FD7446 {
  background-color: var(--cFD7446) !important;
  color: #fff !important;
}
.table-container .th-5 .item.th-first {
  background-color: var(--cFD7446);
}
.table-container .th-5.td-F7F8F9 .item {
  background-color: #F7F8F9;
  color: #414042;
}
.table-container .th-5.td-DCDDDE .item {
  background-color: #DCDDDE;
  color: #414042;
}
.table-container .th-5-1 {
  grid-template-columns: 1fr 4fr;
}
.table-container .th-5-2 {
  grid-template-columns: 1fr 2fr 1fr 1fr;
}

.p-c-1 {
  padding: 20.9026128266vh 0;
  box-sizing: border-box;
}
.p-c-1 .t1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--textColor);
}
.p-c-1 .t2 {
  margin-bottom: 22.0902612827vh;
  margin-top: 9.026128266vh;
  font-weight: 800;
  font-size: 44px;
  color: var(--cFD7446);
}
.p-c-1 .info-wrap {
  margin-bottom: 2.7315914489vh;
}
.p-c-1 .info-wrap span {
  display: block;
}
.p-c-1 .info-wrap span:last-child {
  min-width: 20.190023753vh;
  height: 100%;
  border-bottom: 1px solid #0A1634;
}
.p-c-1 .bg-t {
  font-weight: 500;
  font-size: 30px;
  color: var(--cFD7446);
}
.p-c-1 .h3-1 {
  position: relative;
  padding-left: 20px;
  margin-bottom: 19px;
  font-weight: bold;
  font-size: 20px;
  color: #414042;
  line-height: 29px;
  box-sizing: border-box;
}
.p-c-1 .content {
  font-size: 11px;
  color: #58595B;
  line-height: 20px;
}
.p-c-1 .h4-1 {
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 12px;
  color: #FD7446;
  line-height: 20px;
}
.p-c-1 .h5-1 {
  font-weight: bold;
  font-size: 12px;
  color: var(--cFD7446);
  line-height: 17px;
}
.p-c-1 .correct {
  display: inline-block;
  width: 7px;
  height: 7px;
  background: #333333;
  border-radius: 50%;
  line-height: 7px;
  text-align: center;
  color: #fff;
}
.p-c-1 .h6-1 {
  font-weight: bold;
  font-size: 12px;
  color: #414042;
  line-height: 17px;
}
.p-c-1 .test-content-wrap {
  padding: 15px 20px;
  background: rgba(253, 116, 70, 0.02);
  border: 1px solid rgba(253, 116, 70, 0.6);
  box-sizing: border-box;
}
.p-c-1 .test-content-wrap .content-text {
  word-break: break-all;
  font-size: 10px;
  color: #58595B;
  line-height: 20px;
}
.p-c-1 .test-content-wrap.img-1 {
  display: grid;
  grid-template-columns: 130px 1fr;
  gap: 20px;
}
.p-c-1 .test-content-wrap.img-1 img {
  display: block;
  width: 130px;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-c-1 .test-content-wrap .img-2 {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.p-c-1 .test-content-wrap .img-2 img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-c-1 .test-content-wrap .img-3 {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.p-c-1 .test-content-wrap .img-3 img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-c-1 .test-content-wrap .img-4 {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, 200px);
}
.p-c-1 .test-content-wrap .img-4 img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-c-1 .test-content-wrap .img-5 {
  display: grid;
  gap: 20px;
}
.p-c-1 .test-content-wrap .img-5 img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-c-2 {
  padding: 11.0451306413vh 66px 7.83847981vh;
}
.p-c-2 .bg-t {
  font-weight: 500;
  font-size: 30px;
  color: #DCDDDE;
}
.p-c-2 .dir-t {
  width: 96px;
  height: 70px;
  font-weight: bold;
  font-size: 48px;
  color: #414042;
}
.p-c-2 .h2-1 {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 20px;
  color: var(--cFD7446);
  line-height: 29px;
}
.p-c-2 .h3-1 {
  margin-bottom: 19px;
  font-weight: 500;
  font-size: 20px;
  color: #414042;
  line-height: 29px;
}
.p-c-2 .list a {
  display: block;
}
.p-c-2 .list a:not(:last-child) {
  margin-bottom: 7px;
}
.p-c-2 .list .item {
  display: flex;
  align-items: center;
  height: 17px;
  font-size: 12px;
  color: #6D6E71;
  line-height: 17px;
}
.p-c-2 .list .item .dashed {
  flex: 1 0 auto;
  margin: 0 6px;
  border-bottom: 1px dashed #6D6E71;
}
.p-c-2 .list > * {
  margin-bottom: 7px;
}

.p-c-4 {
  padding: 13.8954869359vh 66px 5.2256532067vh;
}

.p-c-3,
.p-c-5 {
  padding: 17.1021377672vh 66px 5.2256532067vh;
}

.p-c-6,
.p-c-7,
.p-c-8 {
  padding: 11.1638954869vh 66px 5.2256532067vh;
}

.footer-container {
  padding: 11.1638954869vh 66px 5.2256532067vh;
}/*# sourceMappingURL=index.css.map */